<div>
	<p class="d-inline-block w-10 "  style="width:5%;">
		<img alt='logo' src='assets/images/logo.png' style="width:70px;"/></p>
	<form class="form-inline w-60 my-2 my-lg-0 d-inline-block" style="width:74%;">
      <input class="form-control mr-sm-2 d-inline-block" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success d-inline-block my-2 my-sm-0" type="submit">Search</button>
    </form>
	<div class="d-inline-block w-20"  routerLink="/login"  style="width:10%;">Login & Singup</div>
	<div class="d-inline-block glyphicon glyphicon-shopping-cart w-10"  style="width:10%;" routerLink="/cart">Cart {{total}}</div>
</div>
